@font-face{
    font-family: 'Mario Kart';
    src: url('../fonts/Mario-Kart-DS.ttf');
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #232323;
    user-select: none;
}

.header{
    text-align: center;
}

.header h1{
    display: inline-block;
    font-size: 42px;
    padding-top: 15px;
    padding-bottom: 20px;
    color: #fff;
}

.container{
    max-width: 1140px;
    margin: auto;
}

.map{
    text-align: center;
    background: url(../img/bg_sand.png) repeat;
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 3px;
}

.line{
    display: inline-block;
}

.col{
    height: 50px;
    width: 50px;
    border: solid 0px #000;
    display: inline-block;
}

.cible{
    background: url(../img/bg_cible.png) no-repeat;
}

.cible-touchee{
    background: url(../img/bg_cible_broken.png) no-repeat;
    animation: cibleBroken 0.3s 3;
}

<<<<<<< Updated upstream
=======
.cible{
    background: url(../img/bg_cible.png) no-repeat;
}

.cible-touchee{
    background: url(../img/bg_cible_broken.png) no-repeat;
    animation: cibleBroken 0.3s 3;
}

>>>>>>> Stashed changes
@keyframes cibleBroken{
    0%{
        opacity: 1;
    }
    49%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}